<app-page-header
  [link]="'salles'"
  [prev]="'Rooms'"
  [current]="'Add Room'"
></app-page-header>

<div class="row">
  <div class="col-sm-12">
    <div class="card comman-shadow">
      <div class="card-body">
        <form
          [formGroup]="newSalleFormGroup"
          (ngSubmit)="handleAddDepartement()"
        >
          <div class="row">
            <div class="col-12">
              <h5 class="form-title student-info">
                Room Informations<span
                  ><a href="javascript:;"
                    ><i class="feather-more-vertical"></i></a
                ></span>
              </h5>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Bloc<span class="login-danger">*</span></label>
                <select class="form-control" formControlName="bloc">
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <option value="C">C</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Number <span class="login-danger">*</span></label>
                <input
                  class="form-control"
                  formControlName="numSalle"
                  type="number"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Capacity <span class="login-danger">*</span></label>
                <input
                  class="form-control"
                  formControlName="capacite"
                  type="number"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Type <span class="login-danger">*</span></label>
                <select class="form-control" formControlName="typeSalle">
                  <option value="Simple">Simple</option>
                  <option value="Tps">Tps</option>
                  <option value="Amphi">Amphi</option>
                  <option value="miniAmphi">Mini Amphi</option>
                </select>
              </div>
            </div>

            <div
              class="col-12 d-flex align-items-center justify-content-center"
            >
              <div class="student-submit">
                <button type="submit" class="btn btn-primary">Confirmer</button>
              </div>
            </div>
          </div>
          <div>
            <hr class="mt-4" />
            <div class="col-12 col-sm-12">
              <div class="form-group students-up-files">
                <label>
                  You can also upload a list of students (xlsx)
                </label>
                <div class="uplod">
                  <label >
                    View example of file
                    <button (click)="downloadXSL()" class="green-button">Download XSL File</button>

                  </label>
                </div>

                <div class="uplod">
                  <label class="file-upload image-upbtn mb-0">
                    Upload a file
                    <input type="file" id="fileInput" (change)="handleFileInput($event)" />
                  </label>
                </div>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
