<body>
  <!-- ======= Header ======= -->
  <div class="header" style="background-color: #E4F1FF;">
    <div class="header-left" style="background-color: #E4F1FF;">
      <a routerLink="/home">
        <img src="/assets/img/logo.png" width="70%" alt="Logo" />
      </a>
    </div>
    <ul class="nav user-menu">
      <li class="nav-item me-2 m-2">
        <button (click)="handleConnected()" class="btn btn-custom">
          <i class="fas fa-sign-in-alt"></i> Login
        </button>

      </li>
    </ul>
  </div>
  <style>
    body {
      background-image: url('assets/img/back.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
    }

    body::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(190, 208, 255, 0.32);
      opacity: 0.7; /* Adjust the opacity as needed */
    }
  </style>
  <ng-container *ngIf="login; else page">
    <app-login></app-login>
  </ng-container>

  <ng-template #page>

    <section id="hero" class="hero d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 d-flex flex-column justify-content-center">
            <img src="/assets/img/blend.png" width="100%" alt="Logo" />


          </div>

        </div>
      </div>
    </section>
    <!-- End Hero -->


  </ng-template>

  <!-- End #main -->
</body>
